extends layout

block content
  .login
        h1
          a(href='index.html') CheckOut
        .login-bottom
          h2 Login
          - if(msg!=null && msg !="" && msg != undefined)
              div(class='alert alert-danger')=msg
          form(id ='login-form', method ='POST' action="/authenticate")
            .col-md-12
              .login-mail
                input(type='text', placeholder='User Name', required='', id='id', name='id')
                i.fa.fa-user
              .login-mail
                input(type='password', placeholder='Password', required='', id='password', name='password')
                i.fa.fa-lock
              .login-do
                label.hvr-shutter-in-horizontal.login-sub
                  input(type='submit', value='login')
            .clearfix  
      // 
      .copy-right
        p
          | © 2016 Minimal. All Rights Reserved | Design by 
          a(href='http://w3layouts.com/', target='_blank') W3layouts
      // 
      // scrolling js
      script(src='js/jquery.nicescroll.js')
      script(src='js/scripts.js')
      // //scrolling js
